.default-skill-box {
    padding: 1vw 2vw;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.2vw;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    width: auto;
    height: auto;
}